* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;

}

.navbar {
    background: #1F2937;
    color: white;
}


.container {
    max-width: 1140px;
    margin: 0 auto;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.menu li a, .websiteawesome p {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.websiteawesome {
    margin-bottom: 25px;
}

ul {
    list-style-type: none;
}

.navlinks .menu {
    display: flex;
    
}

.menu li a {
    margin-left: 30px;
}

.awesome {
    background-color:  #1f2937;
}

.headerlogo {
    font-size: 24px;
    font-weight: bold;
}

.awesome .container {
    display: flex;
    padding: 100px 0 100px 0;
    justify-content: space-between;
    align-items: center;
}

.placeholder {
    height: 250px;
    width: 600px;
    align-content: center;
    background: grey;
    text-align: center;
    
}

.websiteawesome {
width: 450px
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.websiteawesome h1, .websiteawesome p {
    margin-bottom: 25px;
}

button.awesome {
    background-color: #3882F6;
    color: white;
    padding: 10px 35px;
    border-radius: 8px;
    border: #F9FAF8;
}



.randominfo {
    height: 483px;

}



h2.random {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: 1F2937;
    padding-top: 50px;
    

}

.fourboxes {
    width: 900px;
    margin: 45px auto;
}

.fourboxes .box{
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.container .fourboxes {
    display: flex;
    justify-content: space-between;
    
}
.fourboxesinbox p {
    width: 150px;
    text-align: center;
    margin-top: 10px;
}
.inspiring {
    background-color: #E5E7EB;
    
}

.quote {
    height: 483px;
    width: 820px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

/* call to action section */



.container.time{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    margin-top: 75px;
    margin-bottom: 75px;
    padding: 40px 150px 40px 150px;
    color: white;
    border-radius: 10px;
}

.itstime {
     margin-right: auto;
}

.buttonsignup button {
    border: 2px solid white;
    background-color: #3882F6;
    color: white;
    padding: 4px 25px;
    border-radius: 5px;
}


/* Copyright Section */

footer.copyright {
    background: #1F2937;
}

.container .copyright {
    text-align: center ;
    color: white;
    padding: 30px 30px;
} 

